/* Custom CSS styles */

/* Header */
.w3-display-container {
    position: relative;
}

.w3-image {
    width: 100%;
    height: auto;
}

.w3-display-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.w3-padding-large {
    padding: 48px;
}

.w3-border {
    border: 2px solid #fff;
}

.w3-wide {
    letter-spacing: 8px;
}

.w3-text-light-grey {
    color: #f8f9fa !important;
}

.w3-xxxlarge {
    font-size: 48px;
}

.w3-hide-small {
    display: none !important;
}

.w3-hide-medium {
    display: none !important;
}

.w3-hide-large {
    display: none !important;
}

/* Navbar */
.w3-bar {
    background-color: #f8f9fa !important;
}

.w3-light-grey {
    background-color: #f8f9fa !important;
}

.w3-round {
    border-radius: 4px;
}

/* Portfolio Images */
.w3-image.img-fluid {
    max-width: 100%;
    height: auto;
}

/* Contact Form */
.w3-section {
    margin-bottom: 16px;
}

/* Footer */
.w3-container {
    margin-bottom: 32px;
}

.w3-margin-top {
    margin-top: 16px;
}

.w3-dark-grey {
    background-color: #343a40 !important;
}

/* Responsive Styles */
@media (max-width: 767px) {
    /* Header */
    .w3-xxxlarge {
        font-size: 36px;
    }

    /* Navbar (small screens) */
    .w3-hide-small {
        display: inline-block !important;
    }
    
    /* Hide large and medium screens navbar */
    .w3-hide-large {
        display: none !important;
    }

    .w3-hide-medium {
        display: none !important;
    }
    
    /* Contact Form */
    .w3-section {
        margin-bottom: 8px;
    }

    /* Footer */
    .w3-margin-top {
        margin-top: 8px;
    }
}
